<h1 mat-dialog-title>Prescription</h1>
<div mat-dialog-content>Hospital Management System Prescription</div>
<br>
<div mat-dialog-content>Patient Id: <b>{{patdetails.patid}}</b></div>
<div mat-dialog-content>Patient Name: <b>{{patdetails.patname}}</b> </div>
<div mat-dialog-content>Doctor Visited: <b> {{patdetails.visit}}</b> </div>
<br>
<div mat-dialog-content>Paracetamol :- 2 Times a day(6hours gap) After meal </div>
<div mat-dialog-content>Pan-D :- 2 Times a day Before Meal </div>
<div mat-dialog-content>Wear Mask N95 </div>
<div mat-dialog-content>Sanitize Your Hand</div>
<div mat-dialog-content>Next Visit after 2 Months.</div>
<div mat-dialog-content>Stay Safe Stay Healthy</div>
<div mat-dialog-actions>
  <button color="warn" mat-button mat-dialog-close>Close</button>
</div>
