.full-width{
  width: 100%;
}
.example-margin {
  margin: 0 10px;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.bigmatcard{
  border-radius: 20px;
border-radius: 20px;
  border: 3px solid green;
}
.bigmatcard:not([class*="mat-elevation-z"]) {
  box-shadow: -5px 5px 1px -1px rgb(0 0 0 / 20%),
    5px 1px 1px 0px rgb(0 0 0 / 14%), -5px 1px 3px 0px rgb(0 0 0 / 12%);
}

