<mat-toolbar color="primary">
  <button routerLink="" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_hospital</mat-icon>
  </button>
  <span routerLink="">Hospital Management</span>
  <span class="example-spacer"></span>
  <button routerLink="/doctor-registration" mat-icon-button class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon">
    <mat-icon>health_and_safety</mat-icon>

  </button>
  <span routerLink="/doctor-registration">Doctor Registration |</span>
  <button routerLink="/patient-registration" mat-icon-button class="example-icon"
    aria-label="Example icon-button with share icon">
    <mat-icon>airline_seat_individual_suite</mat-icon>
  </button>
  <span routerLink="/patient-registration">Patient Registration</span>
</mat-toolbar>
