      <mat-card class="bigmatcard" style="padding-top:10px;">
        <mat-card id="welcome" class="bigmatcard">
          <h1>
            <b>
              <mat-icon>home</mat-icon> &nbsp; Welcome To Home Page
            </b>
          </h1>
        </mat-card>
        <mat-card class="example-card">
          <img src="../../assets/registerdoctor.jpg" alt="Register Doctor" routerLink="/doctor-registration">
          <mat-card-content>
            <h2 routerLink="/doctor-registration">Register Doctor</h2>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img src="../../assets/showdoctor.jpg" alt="Register Doctor" routerLink="/showdoctor-information">
          <mat-card-content>
            <h2 routerLink="/showdoctor-information">Show Doctor Information</h2>
          </mat-card-content>
        </mat-card>


        <mat-card class="example-card">
          <img src="../../assets/patientregister.jpg" alt="Register Doctor" routerLink="/patient-registration">
          <mat-card-content>
            <h2 routerLink="/patient-registration">Register Patient</h2>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <img src="../../assets/showpatient.jpg" alt="Register Doctor" routerLink="/showpatient-information">
          <mat-card-content>
            <h2 routerLink="/showpatient-information">Show Patient Information</h2>
          </mat-card-content>
        </mat-card>


      </mat-card>
